@import url(./layout/header/Header.css);
@import url(./layout/footer/Footer.css);
@import url(./layout/main/Main.css);
@import url(./components/movies/Movies.css);
@import url(./components/movie/Movie.css);
@import url(./components/preloader/Preloader.css);
@import url(./components/search/Search.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 10px;
}

:root {
  /* font */
  --fs: 16px;

  /* palette */
  --black: #202020;
  --gray: #4d4c4c;
  --white: #fff;
  --primary: #3870e7;

  /* color */
  --text: var(--black);
  --text-inverse: var(--white);
  --text-secondary: var(--gray);
  --bg-primary: var(--primary);
  --bg-default: var(--black);
  --btn-primary: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
